@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
themes: light --default;
};

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; 
  --color-primary:#632EE3;
   --color-secondary:#001931;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.common-btn {
  @apply text-white font-semibold rounded-md 
         bg-gradient-to-r from-[#632EE3] to-[#9F62F2]
         px-5 py-2 
         border-none 
         transition-transform duration-200 hover:scale-110;
}

.green-btn{
  @apply text-white font-semibold rounded-md 
         bg-[#00D390]
         px-5 py-2 
         border-none 
         transition-transform duration-200 hover:scale-110;

}