@import "tailwindcss";
@plugin "daisyui";



.common-btn {
  @apply text-white font-semibold rounded-md 
         bg-gradient-to-r from-[#632EE3] to-[#9F62F2]
         px-5 py-2 
         border-none 
         transition-transform duration-200 hover:scale-110;
}